.popularBrands {
  padding: 25px 0;

  @media (max-width: 767px) {
    padding: 20px 0;
  }

  h2 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #000;

    @media (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

.brandsItems {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 966px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  @media (max-width: 463px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
