@mixin flex {
  display: flex;
}

@mixin inline-flex {
  display: inline-flex;
}

@mixin align-center {
  align-items: center;
}

@mixin align-start {
  align-items: flex-start;
}

@mixin justify-center {
  justify-content: center;
}

@mixin justify-between {
  justify-content: space-between;
}

@mixin justify-start {
  justify-content: flex-start;
}

@mixin align-end {
  align-items: flex-end;
}

@mixin justify-end {
  justify-content: flex-end;
}

@mixin justify-around {
  justify-content: space-around;
}

@mixin dir-col {
  flex-direction: column;
}

@mixin dir-row {
  flex-direction: row;
}

@mixin flex-wrap {
  flex-wrap: wrap;
}

@mixin transition($args...) {
  transition: $args;
}

@mixin translate($x: 0, $y: 0) {
  transform: translate($x, $y);
}

@mixin translateX($x) {
  transform: translateX($x);
}

@mixin translateY($y) {
  transform: translateY($y);
}

@mixin rotate($deg) {
  transform: rotate($deg);
}

@mixin scale($args...) {
  transform: scale($args);
}

@mixin box-shadow($args...) {
  box-shadow: $args;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
}
